/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* General */
.flex-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-n {
    display: flex;
}



/* header */
.nav-bar {
    flex-direction: row;
    height: 80px;
    line-height: 80px;



}


.nav-left,
.nav-right {
    display: flex;
    flex-wrap: wrap;
    align-self: center;

}




ul {
    list-style-type: none;
}

li>a {
    padding: 0 20px;
}

li>button {
    padding: 0 15px;
}

.white {
    background-color: white;
    border: none;
}

.blue {
    background-color: lightblue;
    border: none;
    color: white;
}

a {
    text-decoration: none;
    color: black
}

/* Main */

/* 
h2 {
    margin-bottom: 20px;
}

.plans {
    display: flex;
    justify-content: space-between;
}

.plans>* {
    width: calc(100% / 3)
} */


div.square {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

#square-container div.square.flex-n {
    flex-wrap: wrap;
}

#square-container .flex-n .team {
    width: 50%;
    height: 50%;
    position: relative;
}

#square-container .square .team img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

#square-container .square.bg-gray>img {
    width: 50%;
    margin-bottom: 30px;
}

#square-container .square.bg-gray>hr {
    width: 20%;
    margin-bottom: 30px;
}

#square-container .square.bg-gray {
    padding: 50px;
}


.square.bg-gray>p {
    margin-bottom: 30px;
}

.bg-green {
    background-color: #A2D39B;
    border: inset 5px solid #d1e9cd;
}

.bg-bordeaux {
    background-color: #61082B;
}

.bg-azure {
    background-color: #0393ce;
}

.bg-orange {
    background-color: #ff1d1c;
}

.bg-red {
    background-color: #d5001f;
}

.bg-lightazure {
    background-color: #b5d0e7;
}

.bg-blu {
    background-color: #0d2481;
}

.bg-yellow {
    background-color: #ffd831;
}

.square .bg-gray {
    background-color: #F5F5F5
}

.secondarymain-container {
    max-width: 1000px;
    margin: 0 auto;
}

#free {
    background-color: #B4D0E7;
    padding: 120px 0;
}

#free .secondarymain-container.flex-n div.col-big {
    color: #61082B;
}

#free .secondarymain-container.flex-n div.col-small {
    flex-grow: 2;
    text-align: end;
    padding-top: 15px;
}



.questions-container {
    max-width: 1000px;
    margin: 0 auto;
}


main section#questions {
    padding: 160px 0;
}

#questions .questions-container h2 {
    padding-bottom: 75px;
}

#questions .questions-container div.flex-sb {
    height: 100px;
    align-items: center;
    padding-right: 40px;
}

/* Footer */
footer {
    background-color: black;
    padding-top: 50px;
}

footer .footer-container .flex-n div.footer-col {
    width: calc((100% - 200px) / 5);
    color: white;
}

footer #footer-container .footer-col {
    all: unset;
    display: inline-block;
    color: white;
}

footer .footer-container .footer-col>a {
    all: unset;
    font-weight: lighter;
    font-size: 12px;
    display: block;
}


footer .footer-container .footer-col>h3 {
    padding-bottom: 30px;
}

footer .footer-container .footer-col>a {
    padding-bottom: 20px;
}

footer .foot-container .flex-n {
    padding: 100px 0 100px;
}

footer div.flex-n {
    align-items: flex-start;
    gap: 50px;
}

footer #footer-bottom .language div.flex-n {
    align-items: center;
    line-height: 100%;
    color: white;
    gap: 0;
    padding: 50px 0;
}

footer .language .flex-n>span {
    padding: 0 5px;
}

.flex-n {
    display: flex;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}