/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}




/* header */
.nav-bar {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 80px;
    line-height: 80px;



}


.nav-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-self: center;

}

.nav-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: center;

}

ul {
    list-style-type: none;
}

li>a {
    padding: 0 20px;
}

li>button {
    margin: 0 15px;

}

.white {
    background-color: white;
    border: none;
}

.blue {
    background-color: 0061FF;
    border: none;
    color: white;
}

a {
    text-decoration: none;
    color: black
}