/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.small-container {
    max-width: 900px;
    text-align: center;
}



/* header */
.nav-bar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 80px;
    line-height: 80px;



}


.nav-left {
    display: flex;
    flex-wrap: wrap;
    align-self: center;

}

.nav-right {
    display: flex;



}

ul {
    list-style-type: none;
}

li>a {
    padding: 0 20px;
}

li>button {
    padding: 0 15px;
}

.white {
    background-color: white;
    border: none;
}

.blue {
    background-color: lightblue;
    border: none;
    color: white;
}

a {
    text-decoration: none;
    color: black
}

/* Main */

/* 
h2 {
    margin-bottom: 20px;
}

.plans {
    display: flex;
    justify-content: space-between;
}

.plans>* {
    width: calc(100% / 3)
} */
.secondarymain-container {
    max-width: 1000px;
    margin: 0 auto;
}

#free {
    background-color: #B4D0E7;
    padding: 120px 0;
}

#free .secondarymain-container.flex-n div.col-big {
    color: #61082B;
}

#free .secondarymain-container.flex-n div.col-small {
    flex-grow: 2;
    text-align: end;
    padding-top: 15px;
}

#free .secondarymain-container .flex-n .col-small a.btn {
    background-color: white;
    color: black;
}

.questions-container {
    max-width: 1000px;
    margin: 0 auto;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main section#questions {
    padding: 160px 0;
}

#questions .questions-container h2 {
    padding-bottom: 75px;
}

#questions .questions-container div.flex-sb {
    height: 100px;
    align-items: center;
    padding-right: 40px;
}

/*  */
footer {
    background-color: black;
    padding-top: 50px;
}

footer .footer-container .flex-n div.footer-col {
    width: calc((100% - 200px) / 5);
    color: white;
}

footer #footer-container .footer-col {
    all: unset;
    display: inline-block;
    color: white;
}

footer .footer-container .footer-col>a {
    all: unset;
    font-weight: lighter;
    font-size: 12px;
    display: block;
}


footer .footer-container .footer-col>h3 {
    padding-bottom: 30px;
}

footer .footer-container .footer-col>a {
    padding-bottom: 20px;
}

footer .foot-container .flex-n {
    padding: 100px 0 100px;
}

footer div.flex-n {
    align-items: flex-start;
    gap: 50px;
}

footer #footer-bottom .language div.flex-n {
    align-items: center;
    line-height: 100%;
    color: white;
    gap: 0;
    padding: 50px 0;
}

footer .language .flex-n>span {
    padding: 0 5px;
}

.flex-n {
    display: flex;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}